@{
    Layout = "~/Views/Shared/_LayoutPublish.cshtml";
    ViewBag.Code = "Blog";
}
@model List<Model.Entities.Blog>

<section class="home-slider owl-carousel">

    <div class="slider-item" style="background-image: url(/assets/coffeeassets/images/bg_3.jpg);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center">

                <div class="col-md-7 col-sm-12 text-center ftco-animate">
                    <h1 class="mb-3 mt-5 bread">Blog</h1>
                    <p class="breadcrumbs"><span class="mr-2"><a href="/">Home</a></span> <span>Blog</span></p>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row d-flex">
            @foreach (var item in Model)
            {
                <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                        <a href="/home/blogsingle/@item.Id" class="block-20">
                            <img src="~/Uploads/@item.HinhAnh"/>
                        </a>
                        <div class="text py-4 d-block">
                            <div class="meta">
                                <div><a href="#">@item.CreatedDate.ToString("dd/MM/yyyy")</a></div>
                                @*<div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>*@
                            </div>
                            <h3 class="heading mt-2"><a href="#">@item.TieuDe</a></h3>
                            <p>@item.MoTa</p>
                        </div>
                    </div>
                </div>
            }

        </div>
       
    </div>
</section>

