@{
    Layout = "~/Views/Shared/_LayoutPublish.cshtml";
    ViewBag.Code = "BlogSingle";
}
@model Service.BlogService.Dto.BlogDto
<style>
    .blog-content img {
        width: 100%;
    }
</style>
<section class="home-slider owl-carousel">

    <div class="slider-item" style="background-image: url(/assets/coffeeassets/images/bg_3.jpg);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center">

                <div class="col-md-7 col-sm-12 text-center ftco-animate">
                    <h1 class="mb-3 mt-5 bread">Blog Details</h1>
                    <p class="breadcrumbs"><span class="mr-2"><a href="/">Home</a></span> <span class="mr-2"><a href="/home/blog">Blog</a></span> <span>Blog Single</span></p>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="blog-content">
                @Html.Raw(Model.NoiDung)
            </div>
        </div>
    </div>
</section> <!-- .section -->
